---
import { getPosts } from "./blog.api";
import BlogLayout from "@/layouts/BlogLayout.astro";
import BlogCard from "@/components/ui/BlogCard.astro";

const posts = await getPosts();

const recentPosts = posts
  .sort(
    (a, b) =>
      new Date(b.publishDate).getTime() - new Date(a.publishDate).getTime(),
  )
  .slice(0, 4);

const formatDate = (date: string) =>
  new Date(date).toLocaleDateString("es-CO", {
    day: "numeric",
    month: "short",
    year: "numeric",
  });
---

<BlogLayout
  title="Blog"
  description="Aquí encontrarás todos los posts publicados por Shine Agencia."
>
  <section class="container w-full mx-auto">
    <div class="blog-wrapper max-w-7xl mx-auto px-4 py-8 md:py-16 lg:py-20">
      <div id="blog-header" class="flex flex-col items-center gap-2">
        <h1
          class="text-[min(10vw,72px)] font-playfair font-medium text-smokyBlack dark:text-softWhite leading-tight tracking-tight mb-4"
        >
          Shine Blog
        </h1>
        <p
          class="text-[min(5vw,24px)] text-center font-openSans text-smokyBlack dark:text-softWhite mb-8 max-w-2xl mx-auto"
        >
          Aquí encontrarás nuestros posts más recientes.
        </p>
      </div>
      <div class="blog-grid grid grid-cols-1 lg:grid-cols-2 gap-4 mb-8">
        {
          recentPosts.map((post) => (
            <BlogCard
              slug={post.slug}
              title={post.title}
              author={post.author}
              publishDate={formatDate(post.publishDate)}
              summary={post.summary}
              image={post.image.url}
            />
          ))
        }
      </div>
    </div>
  </section>
</BlogLayout>
