---
import Image from "astro/components/Image.astro";
import defaultAvatar from "@/assets/icons/defaultAvatar.svg";
interface Props {
  reviewerLogo?: ImageMetadata;
  reviewerName: string;
  review: string;
  rating: number;
  tag: string[];
}

const { reviewerLogo: Logo, reviewerName, review, rating, tag } = Astro.props;
---

<div
  class="review-card h-full dark:p-2"
>
  <div class="reviewer-info flex flex-col items-center gap-4 h-full">
    <div class="reviewer-logo shrink-0 h-16 w-full max-w-50 flex items-center justify-center">
      {
        Logo ? (
          <Image
            src={Logo}
            alt={reviewerName}
            width={Logo.width}
            height={Logo.height}
            class="object-contain max-h-full max-w-full h-auto w-auto"
          />
        ) : (
          <Image
            src={defaultAvatar}
            alt={reviewerName}
            class="object-contain max-h-full max-w-full h-auto w-auto"
          />
        )
      }
    </div>
    <div
      class="review relative flex flex-col items-center gap-6 flex-1 justify-center max-w-2xl"
    >
      <p
        class="review-text text-base text-smokyBlack dark:text-softWhite text-center lg:max-h-25 hover:lg:max-h-50 overflow-hidden transition-all duration-500 ease-in-out"
      >
        <span class="dark:text-softWhite text-smokyBlack font-bold">"</span>
        {review}
        <span class="dark:text-softWhite text-smokyBlack font-bold">"</span>
      </p>
      <p class="flex items-center gap-2">
        
        <span>⭐⭐⭐⭐⭐</span>
      </p>
    </div>
    <div class="reviewer-name shrink-0">
      <p class="text-smokyBlack dark:text-softWhite">{reviewerName}</p>
    </div>
  </div>
</div>

<!-- <script>
  const review = document.querySelectorAll(".review-text");

  review.forEach((element) => {
    element.addEventListener("mouseover", () => {
      element.classList.add("line-clamp-none");
    });
    element.addEventListener("mouseout", () => {
      element.classList.remove("line-clamp-none");
    });
  });
</script> -->
