---
import Image from "astro/components/Image.astro";
import defaultAvatar from "@/assets/icons/defaultAvatar.svg";
interface Props {
  reviewerLogo?: ImageMetadata;
  reviewerName: string;
  review: string;
  rating: number;
  tag: string[];
}

const { reviewerLogo: Logo, reviewerName, review, rating, tag } = Astro.props;
---

<div
  class="review-card h-full dark:border dark:border-softWhite/20 dark:p-2 dark:rounded-lg dark:shadow-md dark:shadow-softWhite/10"
>
  <div class="reviewer-info flex flex-col items-center gap-4 h-full">
    <div class="reviewer-logo shrink-0">
      {
        Logo ? (
          <Image src={Logo} alt={reviewerName} width={120} height={120} />
        ) : (
          <div class="reviewer-logo shrink-0">
            <Image
              src={defaultAvatar}
              alt={reviewerName}
              width={30}
              height={60}
            />
          </div>
        )
      }
    </div>
    <div
      class="review relative flex flex-col items-center gap-6 flex-1 justify-center max-w-2xl"
    >
      <p
        class="review-text text-base dark:text-softWhite text-center font-openSans lg:max-h-[100px] hover:lg:max-h-[200px] overflow-hidden transition-all duration-500 ease-in-out"
      >
        <span class="text-smokyBlack dark:text-softWhite font-bold">"</span>
        {review}
        <span class="text-smokyBlack dark:text-softWhite font-bold">"</span>
      </p>
      <p class="flex items-center gap-2">
        <span
          class="text-smokyBlack dark:text-softWhite font-openSans font-bold"
          >{rating}</span
        >
        <span>⭐⭐⭐⭐⭐</span>
      </p>
    </div>
    <div class="reviewer-name shrink-0">
      <p class="text-smokyBlack dark:text-softWhite">{reviewerName}</p>
    </div>
  </div>
</div>

<!-- <script>
  const review = document.querySelectorAll(".review-text");

  review.forEach((element) => {
    element.addEventListener("mouseover", () => {
      element.classList.add("line-clamp-none");
    });
    element.addEventListener("mouseout", () => {
      element.classList.remove("line-clamp-none");
    });
  });
</script> -->
