---
interface Props {
  titleLine1: string;
  titleLine2?: string;
  subtitleBefore: string;
  subtitleHighlight: string;
  subtitleAfter?: string;
  descriptionLine1?: string;
  descriptionLine2?: string;
}

const {
  titleLine1,
  titleLine2,
  subtitleBefore,
  subtitleHighlight,
  subtitleAfter,
  descriptionLine1,
  descriptionLine2,
} = Astro.props;
---

<section class="hero-section w-full mx-auto">
  <div class="wrapper max-w-7xl mx-auto px-4 py-8 md:py-16 lg:py-20">
    <div
      class="flex flex-col items-center justify-center min-h-[60vh] md:min-h-[70vh] text-center"
    >
      <div class="max-w-4xl">
        <div class="title-wrapper">
          <h1
            class="text-[min(10vw,72px)] font-playfair font-medium text-smokyBlack dark:text-softWhite leading-tight tracking-tight mb-4"
          >
            {titleLine1}
            <span class="block"> {titleLine2}</span>
          </h1>
        </div>
        <div class="subtitle-wrapper opacity-0">
          <h2
            class="text-[min(7vw,42px)] text-smokyBlack dark:text-softWhite font-playfair italic mb-6"
          >
            {subtitleBefore}
            <span class="font-bold text-deepplum dark:text-accentGold"
              >{subtitleHighlight}</span
            >
            {subtitleAfter}
          </h2>
        </div>
        <div class="description-wrapper opacity-0">
          <p
            class="text-[min(5vw,24px)] font-openSans text-smokyBlack dark:text-softWhite mb-8 max-w-2xl mx-auto"
          >
            {descriptionLine1}
            <span class="block"> {descriptionLine2}</span>
          </p>
        </div>
        <div class="flex justify-center mb-4">
          <slot name="cta" />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { globalHeroAnimation } from "@/utils/scripts/globalAnimations/globalHeroAnimation.js";

  document.addEventListener("DOMContentLoaded", () => {
    globalHeroAnimation();
  });
</script>
