---
import { Image } from "astro:assets";
import Star from "@/assets/icons/star40x40.svg";
import Logo from "@/assets/images/LogoShineWhite(240x110px).svg";
import WhiteLogo from "@/assets/images/logoshinewhitecharacters.svg";
import MenuIcon from "@/assets/icons/menuIcon.svg";
import CloseIcon from "@/assets/icons/closeIcon.svg";
import Rocket from "@/assets/images/rocket.webp";
import DropdownIcon from "@/assets/icons/dropdown.svg";
import ThemeToggle from "@/components/ui/ThemeToggle.astro";

import { navBarLinksConst, servicesLinksConst } from "@/utils/navigation";
const currentPathRaw = decodeURIComponent(Astro.url.pathname);
const currentPath =
  currentPathRaw !== "/" && currentPathRaw.endsWith("/")
    ? currentPathRaw.slice(0, -1)
    : currentPathRaw;
---

<header
  class="nav-container fixed top-0 z-50 mx-auto w-full dark:bg-smokyBlack transition-colors duration-300"
>
  <nav
    class="nav-content relative flex max-w-6xl mx-auto items-center justify-between py-2"
  >
    <!-- Logo -->
    <div id="logo-container" class="flex items-center">
      <a href="/" aria-label="Home">
        <Logo class="h-14 w-auto object-contain md:h-20 md:w-64 dark:hidden" />
        <WhiteLogo
          class="h-14 w-auto object-contain md:h-20 md:w-64 dark:block hidden"
        />
      </a>
    </div>
    <div
      id="visible-menu"
      class="hidden items-center justify-center space-x-5 lg:flex"
    >
      <!-- desktop menu -->
      {
        navBarLinksConst
          .filter((item) => item.path !== "/contacto")
          .map((item) => (
            <div>
              <a
                href={item.path}
                class={`text-smokyBlack dark:text-softWhite text-lg font-openSans font-semibold rounded-4xl hover:bg-salviaGreen dark:hover:bg-salviaGreen py-2 px-4 hover:rounded-4xl hover:text-softWhite transition-colors duration-200 ${item.path === currentPath ? "bg-salviaGreen text-softWhite" : ""}`}
                aria-current={item.path === currentPath ? "page" : undefined}
              >
                {item.name}
              </a>
            </div>
          ))
      }
      <!-- Services dropdown menu -->
      <div class="relative">
        <a
          href="#"
          id="services-linkToggle"
          class="cursor-pointer focus:outline-none flex items-center space-x-2 text-smokyBlack dark:text-softWhite text-lg font-semibold hover:bg-salviaGreen py-2 px-4 hover:rounded-4xl hover:text-softWhite transition-colors duration-200"
        >
          <span> Servicios </span>
          <DropdownIcon />
        </a>
        <div
          id="services-dropdown"
          class="w-52 absolute z-10 hidden bg-softWhite dark:bg-smokyBlack rounded-2xl p-2 shadow-lg"
        >
          <ul class="list-none space-y-2">
            {
              servicesLinksConst.map((link) => (
                <li>
                  <a
                    href={link.path}
                    class={`text-smokyBlack dark:text-softWhite font-openSans font-semibold hover:underline hover:underline-offset-3 ${link.path === currentPath ? "underline underline-offset-3" : ""}`}
                    aria-current={
                      link.path === currentPath ? "page" : undefined
                    }
                  >
                    {link.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <a
        href="/contacto"
        class={`text-smokyBlack dark:text-softWhite text-lg font-openSans font-semibold rounded-4xl hover:bg-salviaGreen py-2 px-4 hover:rounded-4xl hover:text-softWhite transition-colors duration-200 ${currentPath === "/contacto" ? "bg-salviaGreen text-softWhite" : ""}`}
        aria-current={currentPath === "/contacto" ? "page" : undefined}
        >Contacto</a
      >
      <ThemeToggle />
    </div>
    <!-- Overlay menu -->
    <div class="overlay-menu fixed inset-0 z-100 hidden bg-deepplum">
      <div class="overlay-content relative w-full h-full">
        <!-- Header -->
        <div
          class="overlay-header flex items-center max-w-6xl mx-auto justify-between p-8"
        >
          <WhiteLogo class="h-14 w-auto object-contain md:h-20 md:w-64" />
          <button
            type="button"
            id="btn-close"
            class="cursor-pointer focus:outline-none"
          >
            <CloseIcon id="icon-close" class="h-10 w-10" stroke-width="2" />
          </button>
        </div>
        <!-- Content -->
        <div class="flex items-center justify-between max-w-6xl mx-auto py-16">
          <div
            class="relative items-center justify-center w-1/2 hidden lg:flex"
          >
            <!-- Random positioned stars -->
            <Star class="absolute top-16 left-20 animate-pulse" />
            <Star class="absolute top-32 right-16 animate-pulse delay-300" />
            <Star class="absolute bottom-24 left-12 animate-pulse delay-700" />
            <Star class="absolute bottom-16 right-24 animate-pulse delay-500" />
            <Star class="absolute bottom-32 right-12 animate-pulse delay-400" />
            <Star class="absolute bottom-42 left-24 animate-pulse delay-400" />

            <!-- Rocket -->
            <Image
              id="rocket"
              src={Rocket}
              alt="Rocket"
              height={350}
              width={350}
              class="relative z-10"
            />
            <div id="rocket-path">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                <path
                  style="fill: none;"
                  d="M 0 500 C 59.433 500 268.622 44.037 500 0"></path>
              </svg>
            </div>
          </div>
          <div
            class="flex flex-col items-start w-1/2 list-none space-y-5 pl-12"
          >
            {
              navBarLinksConst
                .filter((item) => item.path !== "/contacto")
                .map((item) => (
                  <li>
                    <a
                      href={item.path}
                      class={`text-softWhite text-4xl lg:text-6xl font-playfair hover:text-accentGold transition-colors duration-200 ${item.path === currentPath ? "underline underline-offset-3" : ""}`}
                      aria-current={
                        item.path === currentPath ? "page" : undefined
                      }
                    >
                      {item.name}
                    </a>
                  </li>
                ))
            }
            <div class="flex flex-col">
              <a
                href="#"
                id="services-overlayMenu"
                class="flex items-center space-x-2 text-softWhite text-4xl lg:text-6xl font-playfair hover:text-accentGold transition-colors duration-200"
                class:list={{
                  "underline underline-offset-3": currentPath === "/servicios",
                }}
                aria-current={currentPath === "/servicios" ? "page" : undefined}
              >
                <span> Servicios </span>
                <DropdownIcon />
              </a>
              <div id="services-dropdown-overlayMenu" class="hidden mt-5">
                <ul class="list-none space-y-2">
                  {
                    servicesLinksConst.map((link) => (
                      <li>
                        <a
                          href={link.path}
                          class={`text-softWhite text-xl font-openSans font-semibold ${link.path === currentPath ? "underline underline-offset-3" : ""}`}
                          aria-current={
                            link.path === currentPath ? "page" : undefined
                          }
                        >
                          {link.name}
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
            <a
              href="/contacto"
              class={`text-softWhite text-4xl lg:text-6xl font-playfair hover:text-accentGold transition-colors duration-200 ${currentPath === "/contacto" ? "underline underline-offset-3" : ""}`}
              aria-current={currentPath === "/contacto" ? "page" : undefined}
              >Contacto</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Menu Button and Theme Toggle -->
  <div class="absolute top-6 right-6 lg:right-16 items-center flex gap-4 z-50">
    <div class="lg:hidden">
      <ThemeToggle />
    </div>
    <button
      type="button"
      id="btn-open-close"
      class="cursor-pointer focus:outline-none opacity-0 z-50 relative"
    >
      <MenuIcon id="icon-open" class="h-10 w-10" stroke-width="2" />
    </button>
  </div>
</header>

<script>
  import { nabBarAltAnimation } from "@/utils/scripts/globalAnimations/nabBarAltAnimation.js";
  import { servicesDropdownAnimation } from "@/utils/scripts/globalAnimations/servicesDropdownAnimation.js";

  servicesDropdownAnimation();

  document.removeEventListener("DOMContentLoaded", nabBarAltAnimation);
  document.addEventListener("DOMContentLoaded", nabBarAltAnimation);
</script>
