---
import { mockGoogleReviews } from "../../data/mockGoogleReviews";
import { generateGoogleReviewsSchema } from "../../config/seo";
import GoogleLogo from "@/assets/icons/googleLogo.svg";
import ReviewCard from "../ui/ReviewCard.astro";

interface Props {
  titleLine1: string;
  titleLine2?: string;
  filterTag?: string;
  limit?: number; // Maximum number of reviews to display
}

const { titleLine1, titleLine2, filterTag, limit = 3 } = Astro.props;

const reviews = mockGoogleReviews;

const showReviews = reviews.slice(0, limit);

const filteredReviews = filterTag
  ? reviews.filter((review) => review.tag.includes(filterTag)).slice(0, limit)
  : showReviews;

const schema = generateGoogleReviewsSchema(reviews);

const satisfactionCount = reviews.filter((review) => review.rating >= 4).length;

const averageRating =
  reviews.reduce((acc, review) => acc + review.rating, 0) / reviews.length;

const formatDate = (timestamp: number) => {
  return new Date(timestamp * 1000).toLocaleDateString("es-CO", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
};
---

<script type="application/ld+json" set:html={JSON.stringify(schema)} />

<section class="social-proof max-w-6xl mx-auto pb-10 lg:pb-20">
  <div class="reviews-wrapper flex flex-col items-center p-4">
    <h2
      class="section-title text-[min(10vw,42px)] text-center font-playfair text-smokyBlack leading-tight tracking-tight mb-16"
    >
      {titleLine1}
      {titleLine2 && <span class="block">{titleLine2}</span>}
    </h2>
    <!-- Reviews -->
    <div class="reviews mb-8">
      <div
        class="review-wrapper flex flex-col lg:flex-row justify-between items-center gap-6 shrink-0"
      >
        {
          filteredReviews.map((review) => (
            <ReviewCard
              reviewerLogo={review.profile_photo_url}
              reviewerName={review.author_name}
              review={review.text}
              rating={review.rating}
              tag={review.tag}
            />
          ))
        }
      </div>
    </div>
    <!-- Average rating -->
    <div
      class="average-rating grid grid-cols-1 md:grid-cols-2 border-t border-smokyBlack/70 p-6"
    >
      <div
        class="rating flex flex-col justify-center items-center px-8 gap-1 border-b md:border-b-0 md:border-r border-smokyBlack/40 md:pb-0"
      >
        <span
          class="rating-value flex items-center text-5xl text-smokyBlack/80 font-bold font-openSans"
          >{averageRating}</span
        >
        <span
          class="rating-text flex items-center justify-center gap-2 text-smokyBlack/80 font-openSans"
          >Promedio calificaciones <GoogleLogo class="w-10 h-10" /></span
        >
      </div>
      <div
        class="satisfaction-count flex flex-col justify-center items-center gap-2 mt-4 md:mt-0"
      >
        <span class="count text-5xl text-smokyBlack/80 font-bold font-openSans"
          >{satisfactionCount}+</span
        >
        <span class="text-smokyBlack/80 font-openSans"
          >Clientes satisfechos</span
        >
      </div>
    </div>
  </div>
</section>
